/* ---------------------------------------------------
    Header Media Queries
----------------------------------------------------- */

/* ---------------------------------------------------
    Max width and lower ones and not more then Max
----------------------------------------------------- */

// desktop laptops
@media (max-width: 1200px) {
}

// ipad pro
@media (max-width: 1025px) {
	.content-01 .divider-01 {
		width: 220px !important;
	}
	.content-02 .divider-02 {
		width: 220px !important;
	}
	.content-03 .divider-03 {
		width: 220px !important;
	}
	.content-04 .divider-04 {
		width: 450px !important;
	}
	.content-05 .divider-05 {
		width: 400px !important;
	}
	.content-06 .divider-06 {
		width: 220px !important;
	}
	.invest-slider .owl-dots {
		top: 20%;
		right: 21%;
	}
}

// ipad
@media (max-width: 769px) {
	.navbar-nav .active .nav-link {
		color: $red !important;
	}
	.navbar-nav .active {
		border-top: none;
	}
	.navbar-nav .nav-item {
		padding: 0;
	}
	.nav-btn {
		margin-left: 0;
	}

	#team .nav-pills .nav-item {
		padding: 0.25rem;
	}
	.fs-36 {
		font-size: 18px;
	}

	.fs-48 {
		font-size: 24px;
	}
	.vm-video {
		padding: 0;
	}
	.team {
		padding: 1rem 0;
	}
	.content-01 {
		right: 5% !important;
	}
	.content-01 .divider-01 {
		width: 150px !important;
	}
	.content-02 {
		right: 0% !important;
		top: 20% !important;
	}
	.content-02 .divider-02 {
		width: 160px !important;
	}
	.content-03 .divider-03 {
		width: 130px !important;
	}
	.content-04 .divider-04 {
		width: 300px !important;
	}
	.content-05 .divider-05 {
		width: 250px !important;
	}
	.content-06 .divider-06 {
		width: 120px !important;
	}
	.invest-slider .owl-dots {
		top: 20%;
		right: 15%;
	}
	.ins-item {
		margin: 0;
	}
	.main-banner {
		height: 10vh;
		min-height: 500px;
		background-image: url("../img/banners/banner02.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		// background-attachment: fixed;
		width: 100%;
		// background-position-y: 60px;
	}
}

// iphone x
@media (max-width: 577px) {
	.d-circle {
		height: 5px;
		width: 5px;
	}
	.d-title {
		font-size: 10px;
		padding: 0.25rem;
	}
	.content-01 {
		right: 0% !important;
		top: 2% !important;
	}

	.content-01 .divider-01 {
		height: 2px !important;
		width: 70px !important;
	}

	.content-02 {
		right: 0% !important;
		top: 18% !important;
	}

	.content-02 .divider-02 {
		height: 2px !important;
		width: 50px !important;
	}

	.content-03 {
		right: 18% !important;
		top: 35% !important;
	}

	.content-03 .divider-03 {
		height: 2px !important;
		width: 50px !important;
	}
	.content-04 .divider-04 {
		height: 2px !important;
		width: 130px !important;
	}
	.content-05 .divider-05 {
		height: 2px !important;
		width: 110px !important;
	}
	.content-06 .divider-06 {
		height: 2px !important;
		width: 40px !important;
	}
	.invest-slider .owl-dots {
		top: 48%;
		right: 16%;
	}
	.navbar {
		padding: 0.5rem 1rem;
	}

	.serv-card {
		background-color: #fff;
		padding: 1rem;
		margin: 2rem 1rem;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		border-radius: 0.5rem;
	}
	.fs-18 {
		font-size: 14px;
	}

	.a-size {
		width: 20px;
		height: 20px;
	}
	.a-per {
		width: 20%;
	}
}

// iphone 5
@media (max-width: 320px) {
	.mv-mob-wrapper {
		position: relative;
		min-height: 18rem;
	}
}

/* ---------------------------------------------------
    Min width and up and not lower then Min
----------------------------------------------------- */

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.spon-carousel {
		margin-left: 10%;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
