/* ---------------------------------------------------
    Header Media Queries
----------------------------------------------------- */

/* ---------------------------------------------------
    Max width and lower ones and not more then Max
----------------------------------------------------- */

// Extra large devices (large desktops, 1200px and lower ones)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and lower ones)
@media (max-width: 1025px) {
	.content-01 .divider-01 {
		width: 220px !important;
	}
	.content-02 .divider-02 {
		width: 220px !important;
	}
	.content-03 .divider-03 {
		width: 220px !important;
	}
	.content-04 .divider-04 {
		width: 450px !important;
	}
	.content-05 .divider-05 {
		width: 400px !important;
	}
	.content-06 .divider-06 {
		width: 220px !important;
	}
	.invest-slider .owl-dots {
		top: 20%;
		right: 21%;
	}
}

// Medium devices (tablets, 768px and lower ones)
@media (max-width: 769px) {
	.navbar-nav .active .nav-link {
		border-top: none;
		color: $red !important;
	}
	.nav-btn {
		margin-left: 0;
	}

	#team .nav-pills .nav-item {
		padding: 0.25rem;
	}
	.fs-36 {
		font-size: 26px;
	}

	.fs-48 {
		font-size: 36px;
	}
	.vm-video {
		padding: 0;
	}
	.team {
		padding: 1rem 0;
	}
	.content-01 {
		right: 5% !important;
	}
	.content-01 .divider-01 {
		width: 150px !important;
	}
	.content-02 {
		right: 0% !important;
		top: 20% !important;
	}
	.content-02 .divider-02 {
		width: 160px !important;
	}
	.content-03 .divider-03 {
		width: 130px !important;
	}
	.content-04 .divider-04 {
		width: 300px !important;
	}
	.content-05 .divider-05 {
		width: 250px !important;
	}
	.content-06 .divider-06 {
		width: 120px !important;
	}
	.invest-slider .owl-dots {
		top: 20%;
		right: 15%;
	}
}

@media (max-width: 577px) {
	.d-circle {
		height: 5px;
		width: 5px;
	}
	.d-title {
		font-size: 10px;
		padding: 0.25rem;
	}
	.content-01 {
		right: 0% !important;
		top: 2% !important;
	}

	.content-01 .divider-01 {
		height: 2px !important;
		width: 70px !important;
	}

	.content-02 {
		right: 0% !important;
		top: 18% !important;
	}

	.content-02 .divider-02 {
		height: 2px !important;
		width: 50px !important;
	}

	.content-03 {
		right: 18% !important;
		top: 35% !important;
	}

	.content-03 .divider-03 {
		height: 2px !important;
		width: 50px !important;
	}
	.content-04 .divider-04 {
		height: 2px !important;
		width: 130px !important;
	}
	.content-05 .divider-05 {
		height: 2px !important;
		width: 110px !important;
	}
	.content-06 .divider-06 {
		height: 2px !important;
		width: 40px !important;
	}
	.invest-slider .owl-dots {
		top: 48%;
		right: 16%;
	}
}

// Small devices (landscape phones, 576px and lower ones)
@media (max-width: 320px) {
}

/* ---------------------------------------------------
    Min width and up and not lower then Min
----------------------------------------------------- */

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
