.navbar {
	padding: 0;
}
.navbar-nav .nav-item {
	padding: 15px 0;
}
.navbar-nav .active {
	border-top: 2px solid $red;
}
.main-logo {
	width: 70px;
	height: auto;
}

.nav-btn {
	margin-left: 3rem;
}

#customerType .nav-pills .nav-link {
	color: $lightBlack;
	font-weight: 600;
	font-size: 24px;
	opacity: 0.7;
}

#customerType .nav-pills .nav-link.active {
	color: $red;
	font-size: 24px;
	font-weight: 600;
	opacity: 1;
	background-color: transparent;
}

#team .nav-pills .nav-link {
	color: $red;
	background-color: transparent;
	border: 1px solid $red;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}

#team .nav-pills .nav-link.active {
	color: white;
	background-color: $red;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #000000;
	text-align: center;
	background-color: #fff;
	border-radius: 0.25rem;
	opacity: 1;
}

.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 5px 5px 0;
	border-top-color: #ffffff;
}

.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 0 5px 5px;
	border-bottom-color: #ffffff;
}
.tooltip.show {
	opacity: 1;
}
.spon-slider .owl-nav .owl-prev {
	display: block !important;
	position: absolute;
	top: 20%;
	left: 1%;
	border-radius: 25px;
	padding: 3px 6px;
	color: $lightBlack !important;
	font-size: 35px !important;
}

.spon-slider .owl-nav .owl-next {
	display: block !important;
	position: absolute;
	top: 20%;
	right: 1%;
	border-radius: 25px;
	padding: 3px 6px;
	color: $lightBlack !important;
	font-size: 35px !important;
}

.spon-slider .owl-nav .owl-prev:focus,
.spon-slider .owl-nav .owl-prev:active,
.spon-slider .owl-nav .owl-next:focus,
.spon-slider .owl-nav .owl-next:active {
	outline: 0;
}

.spon-item {
	height: 110px;
	display: grid;
}

.invest-slider .owl-dots {
	position: absolute;
	bottom: 10%;
	right: 22%;
	text-align: center;
}

.invest-slider .owl-dots .owl-dot {
	background-color: $gray;
	height: 6px;
	width: 45px;
	margin-right: 0.5rem;
	border-radius: 3rem;
}

.invest-slider .owl-dots .active:focus,
.invest-slider .owl-dots .active:active {
	outline: 0;
}

.invest-slider .owl-dots .active {
	background-color: $red;
	// width: 70px;
}

.right-arrow {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid $gray;
	border-bottom: 15px solid transparent;
	margin-top: 1rem;
}

.left-arrow {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid $gray;
	border-bottom: 15px solid transparent;
	margin-top: 1rem;
}

.owl-arrow {
	border: solid $gray;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 10px;
}

.owl-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.owl-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
