.bg-0 {
	background-color: $bg-primary;
}

.bg-1 {
	background: linear-gradient(#fff 80%, #f4f9ff 20%);
}
.bg-4 {
	background: linear-gradient(#fff 50%, #f4f9ff 50%);
}

.bg-2 {
	background: linear-gradient(#f4f9ff 50%, #ffffff 50%);
}

.bg-3 {
	background-color: $black;
}

.divider {
	background-color: $red;
	display: inline-block;
	height: 3px;
	width: 85px;
}

.text-red {
	color: $red;
}

.text-black {
	color: $black;
}

.fs-12 {
	font-size: 12px;
}
.fs-13 {
	font-size: 13px;
}
.fs-14 {
	font-size: 14px;
}
.fs-15 {
	font-size: 15px;
}
.fs-16 {
	font-size: 16px;
}
.fs-17 {
	font-size: 17px;
}
.fs-18 {
	font-size: 18px;
}
.fs-19 {
	font-size: 19px;
}
.fs-20 {
	font-size: 20px;
}
.fs-21 {
	font-size: 21px;
}
.fs-22 {
	font-size: 22px;
}
.fs-24 {
	font-size: 24px;
}
.fs-30 {
	font-size: 30px;
}
.fs-36 {
	font-size: 36px;
}
.fs-40 {
	font-size: 40px;
}
.fs-44 {
	font-size: 44px;
}
.fs-48 {
	font-size: 48px;
}

/*---------------- 1.1 Preloader Starts ------------------*/

.loader {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #efefef78;
	z-index: 9999;
	display: none;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader::after {
	content: "";
	display: block;
	position: absolute;
	left: 48%;
	top: 40%;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: $red;
	border-top-color: transparent;
	border-width: 4px;
	border-radius: 50%;
	-webkit-animation: spin 0.8s linear infinite;
	animation: spin 0.8s linear infinite;
}

@-moz-keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}

@-o-keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
