.bg-0 {
	background-color: $bg-primary;
}

.bg-1 {
	background: linear-gradient(#fff 80%, #f4f9ff 20%);
}

.bg-2 {
	background: linear-gradient(#f4f9ff 50%, #ffffff 50%);
}

.bg-3 {
	background-color: $black;
}

.divider {
	background-color: $red;
	display: inline-block;
	height: 3px;
	width: 85px;
}

.fs-12 {
	font-size: 12px;
}
.fs-13 {
	font-size: 13px;
}
.fs-14 {
	font-size: 14px;
}
.fs-15 {
	font-size: 15px;
}
.fs-16 {
	font-size: 16px;
}
.fs-17 {
	font-size: 17px;
}
.fs-18 {
	font-size: 18px;
}
.fs-19 {
	font-size: 19px;
}
.fs-20 {
	font-size: 20px;
}
.fs-21 {
	font-size: 21px;
}
.fs-22 {
	font-size: 22px;
}
.fs-24 {
	font-size: 24px;
}
.fs-30 {
	font-size: 30px;
}
.fs-36 {
	font-size: 36px;
}
.fs-40 {
	font-size: 40px;
}
.fs-48 {
	font-size: 48px;
}
