$danger: #cd2122;
$red: #cd2122;
$hovergreen: #7fba00;
$green: #66cc33;
$white: #ffffff;
$light-gray: #f8f9fa;
$gray: #6e6e6e;
$black: #000000;
$light-black: #222222;
$yellow: #ffcc36;
$light-green: #dff1d9;
$orange: #fb3;
$lightBlack: #222222;
$bg-primary: #f4f9ff;
